/ form action="/print_stories" method="post"
/  input name="q" placeholder="Search stories..." type="text"
/  input type="submit" value="Search!"

/ - @stories.each do |story|
/      h2
/         a href='/stories/#{story["story_id"]}/edit'#{story["headline"]}
/         p #{story["content"]}
/         form action='/stories/#{story["story_id"]}/delete'
/         method="post" 
/         input type="submit" value="DELETE"